/*
Syntax error: File to import not found or unreadable: susy.
              Load path: /Users/karen/Desktop/Programs/iris_dnb/css
        on line 1 of main.scss

1: @import "susy";
2: @import "compass";
3:
4: $total_columns: 12;
5: $column_width: 4em;
6: $gutter_width: 1em;

Backtrace:
main.scss:1
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/import_node.rb:45:in `import'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: susy.\A               Load path: /Users/karen/Desktop/Programs/iris_dnb/css\A         on line 1 of main.scss\A \A 1: @import \"susy\";\A 2: @import \"compass\";\A 3: \A 4: $total_columns: 12;\A 5: $column_width: 4em;\A 6: $gutter_width: 1em;"; }
