@import "compass";
@import "susy";

body, html {
  height: 100%;
}

body {
  background-color: black;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  color: #cbcfd2;
}

// Setting up the Magic Grid
$total-columns: 12; // 12 columns
$column-width: 4em; // columns are 4em wide
$gutter-width: 1em; // with 1em gutters
$grid-padding: 1em; // and 1em padding on the grid container

@mixin background {
  background: #121112;

  &:hover {
    background: #242424;
  }

}
.magic-container {
  @include container;
  @include background;
  margin: 1em auto;
  padding: 1em;
  padding-left: 3em;
  max-width: 61em;
  background: #121112;

  &:hover {
    background: #242424;
  }
  .logos {
    margin-left: auto;
    margin-right: auto;
    img {
      display: inline;
      vertical-align: middle;
      margin: auto;
      max-width: 80px;
      max-height: 80px;
    }
  }
}

#image-container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;

}

.gallery-images {
  @include clearfix;
  width: 100%;
  float: left;
  padding: 5px;


  img {
    max-width: 75px;
    max-height: 75px;
    border: 1px #cbcfd2 solid;
  }
}

.social-container {
  position: absolute;
  top: 20px;
  right: -90px;
  float: right;

  #social-image {
    @include background;
    max-width: 48px;
    max-height: 48px;
    margin-top: 1em;

  }
}

.music-link{
  margin: 1em;
}

.content {
  display: none;
}

h1 {
  margin: 0em;
  letter-spacing: 10px;
  text-align: left;
  font-weight: 100;
  font-size: 40px;
  cursor: pointer;
}

h3 {
  margin: 15px 0px 0px;
  letter-spacing: 3px;
  text-align: left;
  font-weight: 100;
  font-size: 16px;
  font-style: oblique;
}

p {
  margin: 20px 0px 15px;
  line-height: 1.5em;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1em;
}

li {
  list-style: square inside;

}

a {
  color: #cbcfd2;
  margin: 30px 0px 15px;
  line-height: 1.5em;
  font-weight: 100;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.12em;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  bottom: 0px;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
  color: #858585;
  padding-bottom: 20px;
}




