/* line 4, ../sass/main.scss */
body, html {
  height: 100%;
}

/* line 8, ../sass/main.scss */
body {
  background-color: black;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  color: #cbcfd2;
}

/* line 20, ../sass/main.scss */
.magic-container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin: 1em auto;
  padding: 1em;
  padding-left: 3em;
  max-width: 61em;
  background: #121112;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.magic-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 29, ../sass/main.scss */
#image-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

/* line 37, ../sass/main.scss */
.social-container {
  width: 16.66667%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  margin-top: 7em;
  float: right;
}
/* line 42, ../sass/main.scss */
.social-container #social-image {
  margin-top: 1em;
}

/* line 48, ../sass/main.scss */
.music-link {
  margin: 1em;
}

/* line 52, ../sass/main.scss */
.content-bio {
  display: none;
}

/* line 56, ../sass/main.scss */
.content-sounds {
  display: none;
}

/* line 60, ../sass/main.scss */
.content-events {
  display: none;
}

/* line 64, ../sass/main.scss */
.content-links {
  display: none;
}

/* line 68, ../sass/main.scss */
h1 {
  margin: 0em;
  letter-spacing: 10px;
  text-align: left;
  font-weight: 100;
  font-size: 40px;
}

/* line 76, ../sass/main.scss */
h3 {
  margin: 15px 0px 0px;
  letter-spacing: 3px;
  text-align: left;
  font-weight: 100;
  font-size: 16px;
  font-style: oblique;
}

/* line 85, ../sass/main.scss */
p {
  margin: 20px 0px 15px;
  line-height: 1.5em;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1em;
}

/* line 94, ../sass/main.scss */
li {
  list-style: square inside;
  margin: 15px 0px 15px 20px;
}

/* line 99, ../sass/main.scss */
a {
  color: #cbcfd2;
  margin: 30px 0px 15px;
  line-height: 1.5em;
  font-weight: 100;
  text-align: left;
  font-size: 18px;
  letter-spacing: 1px;
}
