/*
Syntax error: File to import not found or unreadable: compass/reset.
              Load paths:
                /Users/karen/Desktop/Programs/iris_dnb/sass
                /Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets
                /Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/susy-1.0.9/sass
                Compass::SpriteImporter
        on line 6 of /Users/karen/Desktop/Programs/iris_dnb/sass/screen.scss

1: /Users/karen/Desktop/Programs/iris_dnb/sass/screen.scss

Backtrace:
/Users/karen/Desktop/Programs/iris_dnb/sass/screen.scss:6
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/import_node.rb:45:in `import'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:95:in `block (4 levels) in perform'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/path.rb:39:in `delete'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/state/directory.rb:32:in `block in deleted'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/state/directory.rb:31:in `each'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/state/directory.rb:31:in `deleted'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/state/directory.rb:16:in `refresh'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/bin/compass:23:in `load'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/bin/compass:23:in `<main>'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `eval'
/Users/karen/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/reset.\A               Load paths:\A                 /Users/karen/Desktop/Programs/iris_dnb/sass\A                 /Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 /Users/karen/.rvm/gems/ruby-1.9.3-p194/gems/susy-1.0.9/sass\A                 Compass::SpriteImporter\A         on line 6 of /Users/karen/Desktop/Programs/iris_dnb/sass/screen.scss\A \A 1: /Users/karen/Desktop/Programs/iris_dnb/sass/screen.scss"; }
